:root {
    --cor-vermelho-mpdft: #b80c1f;
    --cor-vermelho-mpdft-transparente:#8b0f1df2;
    --cor-vermelho: #d00d23;
    --cor-texto-claro: #ffffff;
    --cinza_escuro:#5b5b5b;
    --altura-header:50px;
}

#app_header
{
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0; /* Posiciona no topo da página */
    left: 0;
    width: 100%; /* Faz o cabeçalho ocupar toda a largura */
    z-index: 1000; /* Garante que o cabeçalho fique sobre os outros elementos */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Pequena sombra para destaque */

	display :flex;
    margin  :auto auto;
    height  :var(--altura-header);
    justify-content: start;
    background-color:var(--cor-vermelho-mpdft);
    color: var(--cor-texto-claro);
}

#app_header_left {
    display: flex; /* Usa flexbox para alinhar os elementos */
    align-items: center; /* Centraliza verticalmente */
    justify-content: flex-start;
    height: var(--altura-header); /* Define a altura */
    max-width: var(--ad-menu-size); /* Garante que não ultrapasse a largura do menu lateral */
    width: 100%; /* Ajustável conforme necessário */
    vertical-align: middle;
    margin      : auto auto;
}

#img_header_logo {
    width: auto; /* Mantém a proporção da imagem */
    max-height: var(--altura-header); /* Garante que a imagem não ultrapasse a altura */
    height: 100%; /* Preenche a altura do container */
    margin      : auto auto;
}

#app_header_center {
    flex: 1; /* Ocupa o espaço disponível */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color:var(--cinza_escuro);*/
}
#app_header_button {
    justify-content: flex-start;
    width: 3%;
}
#app_header_title {
    flex: 1; /* Ocupa o espaço disponível */
    max-width: 97%;
    justify-content: flex-end;
}
#app_header_title_main {
	background	:transparent;
	font-size	:24px;
	font-weight	:bold;
	text-align	:center;
}
#app_header_subtitle {
	background	:transparent;
	font-size	:15px;
	font-weight	:bold;
	text-align	:center;
}

#app_header_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 150px;
    width: auto;
    padding-right: 8px;
}



.wrapper {
    margin-top: var(--altura-header); /* Evita que o conteúdo fique escondido atrás do cabeçalho fixo */
}

@media (max-width: 575.98px) {
	#app_header_left{
        display: none;
    }
    #app_header_button {
        width: unset;
    }
    #app_header_title_main {
        font-size	:1rem;
    }
    #app_header_subtitle {
        font-size	:0.7rem;
    }    
    #app_header_right{
        font-size	:0.9rem;       
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	#app_header_left{
        max-width: 80px;
    }
	#app_header_left img {
        max-height: 37px;
    }
    #app_header_button {
        width: unset;
    }    
    #app_header_title_main {
        font-size	:1rem;
    }
    #app_header_subtitle {
        font-size	:0.7rem;
    }    
    #app_header_right{
        font-size	:0.9rem;       
    }
}


[data-bs-theme=light] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: rgb(255, 249, 153);
}
[data-bs-theme=dark] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state:  rgb(0, 0, 0);
    --bs-table-bg-state: rgb(255, 249, 153);
}

[data-bs-theme="light"] .superlight:hover {
	background: rgb(181, 113, 113);
	border: var(--bs-border-width) solid rgba(0, 0, 0, 0.15);
}

[data-bs-theme="dark"] .superlight:hover {
	background: rgb(181, 113, 113);
	border: var(--bs-border-width) solid rgba(0, 0, 0, 0.15);
}

[data-bs-theme="light"] .navbar-toggler-icon {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .navbar-toggler-icon {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

label {
	-moz-user-select: unset;
	-webkit-user-select: unset;
	user-select: unset;
}