/******
 * CUSTOM ADIANTI 8.0
******/
[data-bs-theme=light] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: rgb(255, 249, 153);
}

[data-bs-theme=dark] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state:  rgb(0, 0, 0);
    --bs-table-bg-state: rgb(255, 249, 153);
}

label {
	user-select:text;
}

/******
 * Novos elementos 
******/


header
{
	display     :table;
	width	    :100%;
	height	    :55px;
	border	    :0px;
	padding		:0px;
	margin		:0px;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;	
	background	:#efefef;
	background-repeat:repeat-x;
	background-image:url(../img/headerbgsilver.gif);
}
#app_header_logo
{
	display     :table-cell;
	width       :20%;
	height	    :55px;
	font-size	:14px;
	font-weight	:bold;
	text-align	:center;
    vertical-align: middle;
}
#app_header_logo img
{
	max-width   : 100%;
	max-height  : 100%;
	border      : none;
	padding     : 0px;
    display     : block;
    margin      : auto auto;
}
#app_header_title
{	
	display     : table-cell;	
	width       : 60%;
	vertical-align: top;
}
#app_header_title_main
{
	background	:transparent;
	font-size	:24px;
	font-weight	:bold;
	text-align	:center;
}
#app_header_subtitle
{
	background	:transparent;
	font-size	:15px;
	font-weight	:bold;
	text-align	:center;
}
#app_header_login
{
	display     : table-cell;
  	vertical-align: middle;
	width       :20%;
	font-size	:12px;
	text-align	:center;
}