# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# Agent files
/.agents/
/.agent/
/.claude/
/.antigravity/
/.gemini/
/AGENTS.md
/CLAUDE.md


# VsCode files
/.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

#Arquivos compactados
/*.zip
/*.tar.gz
/*.tar

# Documentos
/document/livros/*