[data-bs-theme=light] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: rgb(255, 249, 153);
}
[data-bs-theme=dark] .table-hover > tbody > tr:hover > * {
    --bs-table-color-state:  rgb(0, 0, 0);
    --bs-table-bg-state: rgb(255, 249, 153);
}
label {
	user-select:text;
}