<!--[main]-->
<div class="list-group">
  <!--[items]-->
  <span class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{$title}</h5>
      <small>{$smallinfo}</small>
    </div>
    <p class="mb-1">{$content}</p>
    <small>{$subcontent}</small>
  </span>
  <!--[/items]-->
  <!--[seemore]-->
      <a class="text-center mt-2" generator="adianti" href="{$link}">{$caption}</a>
  <!--[/seemore]-->
</div>
<!--[/main]-->