<!--[main]-->
<div class="system-drive card panel" style="position:initial">
    <div class="card-header panel-heading" style="justify-content: space-between;">
        <div class="panel-title card-title">_t{Documents}</div>
        <div style="width: 100%;">{$form}</div>
    </div>
    <div class="system-drive-container">
        <div class="system-drive-menu">
            <button id="new" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                <i class="fa fa-plus " style="color: #017bff; font-size: 15px !important;"></i>
                <span>_t{New}</span>
            </button>
            <ul class="dropdown-menu pull-left" aria-labelledby="drop2" widget="tdropdown">
                <li>
                    <a href="index.php?class=SystemDriveDocumentUploadForm&amp;method=onNew&amp;path={$path}" generator="adianti" style="cursor: pointer">
                        <i class="fa fa-upload green" style="padding: 4px"></i>
                        <span>_t{Upload file}</span>
                    </a>
                </li>
                <li>
                    <a href="index.php?class=SystemFolderForm&amp;method=onEdit&amp;path={$path}" generator="adianti" style="cursor: pointer">
                        <i class="fa fa-folder-plus green" style="padding: 4px"></i>
                        <span>_t{New folder}</span>
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-default {$active_my}" href="index.php?class=SystemDriveList&amp;method=onLoad&amp;path=&amp;filter=my" generator="adianti" >
                <i class="fas fa-archive fa-fw" style="padding: 4px"></i>
                _t{My documents}
            </button>
            <button type="button" class="btn btn-default {$active_shared}" href="index.php?class=SystemDriveList&amp;method=onLoad&amp;path=&amp;filter=shared" generator="adianti" >
                <i class="fas fa-share-alt fa-fw" style="padding: 4px"></i>
                _t{Shared with me}
            </button>
            <button type="button" class="btn btn-default {$active_bookmark}" href="index.php?class=SystemDriveList&amp;method=onLoad&amp;path=&amp;filter=bookmark" generator="adianti" >
                <i class="fas fa-star fa-fw" style="padding: 4px"></i>
                _t{Bookmarks}
            </button>
            <button type="button" class="btn btn-default {$active_trash}" href="index.php?class=SystemDriveList&amp;method=onLoad&amp;path=&amp;filter=trash" generator="adianti" >
                <i class="fas fa-trash-alt fa-fw" style="padding: 4px"></i>
                _t{Trash}
            </button>
        </div>
        <div class="system-drive-content">
            <div>{$breadcrumb}</div>
            <div>{$list}</div>
        </div>
    </div>
</div>
<script>
    $(".item-ellipsis").on("click", function(event) {
        $(".popover").popover("hide");
        $(".dropdown-iconview").hide();
        var context_menu = $(this).closest("li").next("ul");
        context_menu.css("left", ticonview_mouseX(event));
        context_menu.css("top", ticonview_mouseY(event));
        context_menu.show();
        event.preventDefault();
        event.stopPropagation();
        return false;
    });

    $('[name="global"]').on('keydown', function(evt){
        if (evt.keyCode == 13) {
            $(this).blur();
        }
    });

    __adianti_input_fuse_search('[name="fuse"]', 'title', '.ticonview li')
</script>
<!--[/main]-->