/****************************** CARDS **************************************/
.panel {
    margin-bottom: 20px;
}

.card {
    --bs-card-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    --bs-card-cap-padding-y: 0.75rem;
    --bs-card-cap-padding-x: 1.25rem;
}

[data-menu-theme=dark] .container-fluid .card {
    box-shadow: var(--bs-card-box-shadow);
}

[data-menu-theme=light][data-bs-theme=light] .card {
    --bs-border-color-translucent: rgba(0, 0, 0, 0.12);
}

.card-title {
    margin-bottom: 0;
}

.card-header, .panel-heading {
    font-size: var(--ad-font-size-plus);
    display: flex;
    align-items: center;
}

[data-bs-theme=light] .card {
    --bs-card-cap-bg: white;
}

.card.noborder {
    border:0;
    box-shadow:none;
}

.card.nomargin {
    margin:0;
}

.card-body.card-item-content > .tformrow {
    margin:0;
}

.right-panel .card-form {
    border: none;
}