
/********************************* CREATOR ********************************************/
.right-panel .card-form {
    border: none;
}

.right-panel .edit-form {
    border: none;
}

.right-panel .search-form {
    border: none;
}

.ui-dialog .card-form {
    border: none;
}

.ui-dialog .edit-form {
    border: none;
}

.ui-dialog .search-form {
    border: none;
}

.popover .card.card-form {
    border: none;
}

.popover .card.edit-form {
    border: none;
}

@media (max-width: 992px) /* col-lg-x */ {
    .card-left .card.search-form .card-body {
        display: none;
    }
}

@media (min-width: 992px) /* col-lg-x */ {
    .card.search-form .expand-button {
        display: none;
    }
}
@media (max-width: 992px) /* col-lg-x */ {
    .card.search-form .collapse-button {
        display: none;
    }
}

.right-panel .collapse-button {
    display: none;
}

.card.card-form > .card-header .form-group.row > div > :not(label) {
    margin-right: 2px;
}

.plugin_comment.timeline > li > .timeline-item > .timeline-footer
{
    padding: 0;
}
